{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>Checking Out</h1>
        {% for key,val in user_cart.items() %}
       <div>
           <h1>{{ val[0] }}</h1>
             <div class="media-container">
                {% for pic in val[1] %}
                    <img src="data:;base64,{{ pic }}" width="200" height="100">
                {% endfor %}
             </div>
           <h2>{{ val[2] }}</h2>
           <h2>Quantity {{ val[3] }}</h2>
           <h2>Price {{ val[3] * val[4]}}</h2>
       </div>
       <br>
    {% endfor %}
    <h2>Total Amount {{total_amount}}</h2>
        <h3>Deliver to</h3>

    <form class="buy-form" method="POST" action="" enctype="multipart/form-data">
          {{form.csrf_token}}

          <fieldset class="form-field">
              {{ form.delivery_address(class="form-control form-control-lg") }}

          </fieldset>
            <br>

          {{ form.buy(class="btn btn-outline-info") }}
    </form>
</div>
{% endblock %}