{% extends "layout.html" %}

{% block content %}
<div class = 'content-section'>
   <form method = 'POST', action="">
    {{supform.csrf_token}}
    <fieldset class = 'form-group'>
        <div class = 'form-group'>
            {{supform.user_name.label(class="form-control-label")}}
            {% if supform.user_name.errors %}
                {{supform.user_name(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in supform.user_name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{supform.user_name(class="form-control form-control-lg")}}
            {% endif %}
        </div>

        <div class = 'form-group'>
            {{supform.mail.label(class="form-control-label")}}
            {% if supform.mail.errors %}
                {{supform.mail(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in supform.mail.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{supform.mail(class="form-control form-control-lg")}}
            {% endif %}
        </div>

        <div class = 'form-group'>
            {{supform.password.label(class="form-control-label")}}
            {% if supform.password.errors %}
                {{supform.password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in supform.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{supform.password(class="form-control form-control-lg")}}
            {% endif %}
        </div>

        <div class = 'form-group'>
            {{supform.confirm_password.label(class="form-control-label")}}
            {% if supform.confirm_password.errors %}
                {{supform.confirm_password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in supform.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{supform.confirm_password(class="form-control form-control-lg")}}
            {% endif %}
        </div>

        <div class = 'form-group'>
            {{supform.submit(class="btn btn-outline-info")}}
        </div>

        <div>
            <small class = 'text-muted'>

            </small>
        </div>
    </fieldset>

</form>
</div>

{% endblock %}
