{% extends 'adminlayout.html' %}


{% block content %}

    <div class="content-section">

        <h2 class="title">Inventory Page</h2>
        <br>

           {% for key,val in pictures.items() %}
           <div>
               <h1>{{ val[0] }}</h1>
               <div class="media-container">
               {% for pic in val[1] %}
                    <img src="data:;base64,{{ pic }}" width="200" height="100">
                {% endfor %}
                </div>
               <h2>{{ val[2] }}</h2>
           </div>
            <br>
           {% endfor %}
       </div>
    </div>

{% endblock %}